.cart-summary-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: flex-end;
  width: 25%;
}
.order-total {
  color: #171f46;
  font-family: 'Roboto';
  font-size: 25px;
}
.total-price {
  font-weight: 900;
}
.total-items {
  color: #616e7c;
  font-family: 'Roboto';
  font-weight: bold;
}
.checkout-button {
  color: white;
  background-color: #0b69ff;
  border-width: 0px;
  padding: 10px;
  border-radius: 5px;
  align-self: stretch;
}
